* {
    box-sizing: border-box;
}

/* body {
    max-width: 100%;
    height: 100%;
} */

label {
    display: none;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    width: 100%;
    background-color: black;
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-img {
    height: 27px;
    margin: 23px 0;
}

.header-card__list {
    display: flex;
    justify-content: space-between;
    /* width: 441px;  */
}

.header-card__item {
    /* width: 52px; */
    opacity: 0.69;  
    font-family: "Open Sans - Semibold";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    margin-left: 48px;
    /* text-align: left; */
}

.header-card__item a {
    text-decoration: none;
    color: #ffffff;
}

.features {
    background-image: url(/image/fullscreen.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100vh - 72px);
    background-color: rgba(0, 0, 0, 0.85);
    padding: 30px 0;
    width: 100%;
    display: flex;
}

.containerfull {
    max-width: 1170px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.features-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 100%;
}

.features-template {
    max-width: 516px;
    text-align: left;
}

.features-img {
    height: 60px;
    margin-bottom: 33px;
}

#features-title {
    max-width: 516px;
    margin-bottom: 82px;
    color: #ffffff;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
    position: relative;
}

#features-title::after {
    content: ''; 
    position: absolute; 
    left: 0; bottom: -38px; 
    right: 450px;
    margin: 0 auto;
    display: block;
    height: 2px;
    width: 64px;
    background-color: white;
}

.features-subtitle {
    max-width: 468px;
    opacity: 0.8;
    color: #ffffff;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 23px;
    text-align: left;
    margin-bottom: 44px;
}

.features-download {
    display: block;
    text-align: center;
    width: 135px;
    text-decoration: none;
    color: #ffffff;
    padding: 15px 0;
    border: 3px solid white;
    font-size: 15px;
    font-weight: 400;
    transition: all 1s ease;
    cursor: pointer;  
}

.features-download:hover {
    background-color: salmon;
}

.features-version {
    width: 360px;
    text-align: center;
    margin-left: 15px;
}

.features-headline {
    background-color: #f5f5f5;
    color: #333333;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    padding-top: 18px;
    padding-bottom: 15px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.free {
    color: #ff8b38;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.features-list {
    background-color: white;
    padding-bottom: 50px;
}

.features-list__item input{
    outline: none;
    width: 285px;
    height: 31px;
    border: none;
    box-shadow: 0 1px 0 rgba(0, 0, 1, 0.16);
    margin-top: 50px;
    padding-left: 15px;
}

.features-link {
    display: block;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ff8b38;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: all .5s ease;
    cursor: pointer;
}

.features-link:hover {
    font-size: 25px;
}

.media {
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.38);
    background-color: #ffffff;
}

.media-title {
    padding-right: 15px;
}

.media-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 22px 0;
}

.media-title__text {
    width: 125px;
    color: #333333;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    padding-bottom: 12px;
}

.media-title__subtext {
    max-width: 360px;
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: left;
}

.media-icons {
    display: flex;
    justify-content: space-between;
    width: 635px;
    color: #cccccc;
    font-family: "Font Awesome";
    font-size: 48px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.media-icons__item {
    transition: all 1s ease;
    cursor: pointer;
}

.media-icons__item:hover {
    font-size: 52px;
    color: salmon;
}

.tabs {
    width: 100%;
    background-color: #f5f5f5;
}

.tabs-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px 0;
}

.tabs-list__item {
    width: 112px;
    height: 112px;
    background-color: black;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 112px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 1px;
    margin-bottom: 1px;
    border-radius: 3px;
    transition: all 1s ease;
    cursor: pointer;  
}

.tabs-list__item:hover {
    background-color: #FF9B51;
}

.tabs-text {
    padding: 0 15px;
}

.tabs-text__title {
    color: #000000;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    padding-bottom: 50px;
}

.tabs-text__subtitle {
    max-width: 477px;
    /* height: 132px; */
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: left;
    padding-bottom: 50px;
}

.tabs-download {
    display: block;
    width: 148px;
    background-color: #FF9B51;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    padding: 15px 0;
    border: 3px solid #FF9B51;
    font-size: 15px;
    font-weight: 400;
    border-radius: 5px;
    transition: all 1s ease;
    cursor: pointer;  
}

.tabs-download:hover {
    font-size: 20px;
}

.awesome {
    width: 100%;
}

#awesome-title {
    padding-top: 108px;
    margin-bottom: 62px;
    text-transform: uppercase;
    font-family: 'Raleway';
    font-size: 36px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    position: relative;
}

#awesome-title::after {
    content: ''; 
    position: absolute; 
    left: 0; bottom: -32px; 
    right: 0;
    margin: 0 auto;
    display: block;
    height: 2px;
    width: 64px;
    background-color: orange;
}

.awesome-subtext {
    text-align: center;
    margin: 30px 0 80px;
    color: #86878b;
    font-size: 14px;
    font-weight: 400;
}

.awesome-card {
    display: flex;
    justify-content: center;
    margin: 0 -15px;
    margin-bottom: 105px;
}

.awesome-card__item {
    text-align: center;
    width: 350px;
    margin: 0 15px;
}

.awesome-card__img {
    margin: 0 auto 30px;
    width: 70px;
    height: 70px;
    border: 2px solid #ff8b38;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.awesome-card__title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 25px;
}

.awesome-card__text {
    color: #86878b;
    font-size: 14px;
    line-height: 20px;
}

.dolar {
    font-size: 35px;
}

.pricing {
    width: 100%;
    background-color: #f5f5f5;
}

#pricing-title {
    padding-top: 108px;
    margin-bottom: 62px;
    text-transform: uppercase;
    font-family: 'Raleway';
    font-size: 36px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    position: relative;
}

#pricing-title::after {
    content: ''; 
    position: absolute; 
    left: 0; bottom: -32px; 
    right: 0;
    margin: 0 auto;
    display: block;
    height: 2px;
    width: 64px;
    background-color: orange;
}

.pricing-subtext {
    text-align: center;
    margin: 30px 0 80px;
    color: #86878b;
    font-size: 14px;
    font-weight: 400;
}

.pricing-line {
    height: 2px;
    width: 64px;
    background-color: orange;
    margin: 0 auto;
}

.pricing-card {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 95px;
    margin: 0 -15px;
}

.pricing-card__item {
    text-align: center;
    width: 343px;
    margin: 0 15px;
}

.pricing-item {
    background-color: white;
    margin-bottom: 1px;
    height: 40px;
    font-size: 14px;
    font-family: "Open Sans";
    color: #86878b;
    text-transform: uppercase;
    line-height: 40px;
}

.pricing-item__type {
    background-color: #333333;
    margin-bottom: 1px;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    font-family: 'Open Sans';
    color: #ffffff;
}

.pricing-item__price {
    color: white;
    background-color:#333333;
    font-size: 94px;
    font-weight: 700;
    font-family: "Raleway";
    font-style: normal;
    letter-spacing: normal;
    line-height: 100px;
    height: 100px;
    margin-bottom: 1px;
}

.pricing-item__period {
    background-color: #333333;
    border-bottom: 5px solid orange;
    height: 50px;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: normal;
    font-family: "Open Sans - Semibold";
    color: #ffffff;
    line-height: 50px;
}

.pricing-item__popular {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    height: 40px;
    line-height: 35px;
    background-color: orange;
}

.customers {
    width: 100%;
}

#customers-title {
    padding-top: 108px;
    margin-bottom: 62px;
    text-transform: uppercase;
    font-family: 'Raleway';
    font-size: 36px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    position: relative;
    line-height: normal;
}

#customers-title::after {
    content: ''; 
    position: absolute; 
    left: 0; bottom: -32px; 
    right: 0;
    margin: 0 auto;
    display: block;
    height: 2px;
    width: 64px;
    background-color: orange;
}

.customers-subtext {
    text-align: center;
    margin: 30px 0 80px;
    color: #86878b;
    font-size: 14px;
    font-weight: 400;
}

.customers-card {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;
    margin-bottom: 105px;
}

.customers-card__item {
    text-align: center;
    max-width: 270px;
    margin: 0 15px;    
}

.customers-card__text {
    background-color: #F5F5F5;
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;   
    max-width: 248px;
    padding: 24px 0 24px 12px;
    position: relative;
}

.customers-card__text:after {
    content: ''; 
    position: absolute;
    left: 25px; bottom: -20px;
    border: 10px solid transparent;
    border-top: 10px solid #F5F5F5; 
}

.customer-card__information {
    margin-top: 15px;
    display: flex;
}

.customer-card__info {
    text-align: left;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.customer-card__name {
    margin-bottom: 8px;
    width: 98px;
    height: 19px;
    color: #333333;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
}

.customer-card__position {
    width: 57px;
    height: 14px;
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
}

.design {
    width: 100%;
    background-image: url("/image/design.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 49px;
    position: relative;
}

.design:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: 2;
}

.design-container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
    color: white;
    z-index: 3;
    text-align: center;
}

.design-title {
    padding-top: 74px;
    color: #ffffff;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}

.design-title::after {
    content: ''; 
    position: absolute; 
    left: 0; bottom: -32px; 
    right: 0;
    margin: 0 auto;
    display: block;
    height: 2px;
    width: 64px;
    background-color: #ffffff;
}

.design-subtext {
    text-align: center;
    margin: 65px 0 33px;
    color: #86878b;
    font-size: 14px;
    font-weight: 400;
}

.design-download {
    display: block;
    width: 135px;
    text-decoration: none;
    color: #ffffff;
    padding: 15px 0;
    border: 3px solid white;
    margin: 0 auto;
    font-size: 15px;
    font-weight: 400;
    transition: all 1s ease;
    cursor: pointer;  
}

.design-download:hover {
    background-color: salmon;
}

.contact {
    width: 100%;
}

.contact-wrapper {
    padding-bottom: 80px;
}

#contact-title {
    padding-top: 108px;
    margin-bottom: 62px;
    text-transform: uppercase;
    font-family: 'Raleway';
    font-size: 36px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    position: relative;
}

#contact-title::after {
    content: ''; 
    position: absolute; 
    left: 0; bottom: -32px; 
    right: 0;
    margin: 0 auto;
    display: block;
    height: 2px;
    width: 64px;
    background-color: orange;
}

.contact-subtext {
    text-align: center;
    margin: 30px 0 80px;
    color: #86878b;
    font-size: 14px;
    font-weight: 400;
}

.form-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;
    padding-bottom: 43px;
}

.contact-list, .contact-message {
    /* background-color: white;
    width: 527px;
    margin: 0 15px; */
    width: 527px;
}

.contact-list {
    padding-left: 15px;
}

.contact-input{
    outline: none;
    width: 527px;
    height: 31px;
    border: none;
    box-shadow: 0 1px 0 rgba(0, 0, 1, 0.16);
    margin-top: 30px;
    padding-left: 15px;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
}

.contact-input, .contact-textarea, .contact-list__item {
    width: 100%;
}

.contact-label {
    display: block;
    color: #bdbdbd;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
    padding-left: 15px;
}

.contact-textarea {
    height: 135px;
    border: none;
    border-bottom: 1px solid #bdbdbd;
    outline: none;
    resize: none;
    padding: 0;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
}

.contact-message {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    align-items: flex-start;
    margin-left: 34px;
    margin-right: 15px;
}

/* .contact-message textarea {
    outline: none;
    width: 100%;
    height: 155px;
    border: none;
    box-shadow: 0 1px 0 rgba(0, 0, 1, 0.16);
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 15px;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    resize: none;
} */

input::-webkit-input-placeholder { 
    color: #bdbdbd;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
}

/* textarea::-webkit-input-placeholder {
    color: #bdbdbd;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
} */

.contact-download {
    display: block;
    width: 148px;
    background-color: #FF9B51;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    padding: 15px 0;
    border: 3px solid white;
    margin: 0 auto;
    font-size: 15px;
    font-weight: 400;
    border-radius: 5px;
    transition: all 1s ease;
    cursor: pointer;  
}

.contact-download:hover {
    font-size: 20px;
}

.footer {
    width: 100%;
    margin: 0;
    background-color: black;
}

.footer-container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    padding-bottom: 15px;   
}

.footer-icons {
    display: flex;
    justify-content: space-between;
    color: #cccccc;
    font-family: "Font Awesome";
    margin: 0 auto;
    padding-top: 40px;
    width: 320px;
    font-size: 24px;
}

.footer-icons__item {
    transition: all 1s ease;
    cursor: pointer;
}

.footer-icons__item:hover {
    font-size: 30px;
    color: salmon;
}

.footer-themes{
    margin-top: 15px;
    opacity: 0.5;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
}

@media screen and (max-width: 850px) {
    .tabs-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        padding: 80px 0;
    }
    .tabs-text {
        text-align: center;
    }
    .tabs-text__title {
        padding-bottom: 25px;
    }
    .tabs-text__subtitle {
        padding-bottom: 25px;
        text-align: center;
    }
    .tabs-list {
        display: flex;
        flex-direction: row;
    }
    .tabs-list__item {
        margin: 0 5px;
        margin-bottom: 25px;
    }
    .tabs-download {
        margin: 0 auto;
        margin-bottom: 25px;
    }
    .media-icons {
        font-size: 38px;
    }
    
    .media-icons__item {
        transition: all 1s ease;
        cursor: pointer;
    }
    
    .media-icons__item:hover {
        font-size: 42px;
        color: salmon;
    }
}

@media screen and (max-width: 660px) {
    .features-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .features-template {
        margin: 0 auto;
        text-align: center;
    }
    #features-title {
        text-align: center;
    }
    #features-title::after {
        right: 0;
    }
    .features-subtitle {
        text-align: center  ;
    }
    .features-download {
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .features-version {
        margin: 0 auto;
    }
    .awesome-card {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .awesome-card__item {
        margin: 0 auto;
        margin-bottom: 110px;
    }
    .pricing-card {
        flex-direction: column;
        padding: 0 -15px;
    }
    .pricing-card__item {
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .customers-card {
        flex-direction: column;
        margin: 0 -15px;
    }
    .customers-card__item {
        margin: 0 auto;
        margin-bottom: 90px;
    }
    .media-icons {
        font-size: 28px;
    }
    
    .media-icons__item {
        transition: all 1s ease;
        cursor: pointer;
    }
    
    .media-icons__item:hover {
        font-size: 32px;
        color: salmon;
    }
    .header-card__item {
        margin-left: 28px;
    }
}
@media screen and (max-width: 470px) {
    .header-card__list {
        display: none;
    }
    .features-version {
        max-width: 300px;
    }
    .media-card {
        flex-direction: column;
    }
    .media-icons {
        max-width: 300px;
    }
    #features-title {
        font-size: 20px;
        font-family: 'Raleway';
        font-weight: 400;
    }
    #awesome-title {
        font-family: 'Raleway';
        font-size: 20px;
        font-weight: 400;
    }
    #pricing-title {
        font-family: 'Raleway';
        font-size: 20px;
        font-weight: 400;
    }
    #customers-title {
        font-family: 'Raleway';
        font-size: 20px;
        font-weight: 400;
    }
    .design-title {
        font-family: 'Raleway';
        font-size: 20px;
        font-weight: 400;
    }
    #contact-title {
        font-family: 'Raleway';
        font-size: 20px;
        font-weight: 400;
    }
    .media-title__text {
        margin: 0 auto;
    }
    .media-title__subtext {
        text-align: center;
        padding-bottom: 12px;
    }
    .features-img {
        display: none;
    }
    .header-img {
        margin: 23px auto;
    }
    .awesome-card__title {
        font-size: 18px;
    }
}
